<div>
    <h1>
        Blogi
    </h1>
    <div style="display:flex; flex-direction: row">
        <div class="img-rounded text-center" style="background-color: aqua; width: 30%; height: 200px; margin: 1%">
            To znowu Ty? Myślałem, że nie żyjesz!
        </div>
        <div class="img-rounded text-center" style="background-color: darkred; width: 30%; height: 200px; margin: 1%">
            Przykład 2
        </div>
        <div class="img-rounded text-center" style="background-color: darkolivegreen; width: 30%; height: 200px; margin: 1%">
            Tutaj bedzie tytuł
        </div>
    </div>
    <div style="display:flex; flex-direction: row">
        <div class="img-rounded text-center" style="background-color: darkcyan; width: 30%; height: 200px; margin: 1%">
            Kolejny blog
        </div>
        <div class="img-rounded text-center" style="background-color: purple; width: 30%; height: 200px; margin: 1%">
            Jeszcze jeden
        </div>
        <div class="img-rounded text-center" style="background-color: mintcream; width: 30%; height: 200px; margin: 1%">
            I kolejny
        </div>
    </div>
</div>