@model BlogoBlog.App.Models.Blog.BlogViewModel

<h2>@Model.Name</h2>

<a href="@Url.Action("Create", "Post", new { blogID = Model.ID })" class="glyphicon glyphicon-plus-sign" style="font-size: 40px;"></a>

@foreach (var post in Model.Posts)
{
    <div style="width: 50%" class="center">

        <div class="img-rounded text-center" style="background-color: aqua">
            @Html.ActionLink(post.Title, "Index", "Post", new { id = post.ID }, null)
        </div>
    </div>
}